.vscode/**
node_modules/**
src/**
tests/**
esbuild.config.mjs
eslint.config.mjs
vite.config.ts
vitest.config.ts
tsconfig*.json
docs/**
pnpm-lock.yaml
**/*.map
**/*.test.ts
.gitignore
.npmrc
.editorconfig
.prettierrc
